---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: usermgmt-webpp-deployment
  labels:
    app: usermgmt-webapp

spec:
  replicas: 1
  selector:
    matchLabels:
      app: usermgmt-webapp
  template:
    metadata:
      labels:
        app: usermgmt-webapp
    spec:
      initContainers:       # this init container ensures that database is up and running before this webapp pod is deployed
        - name: init-db
          image: busybox:1.31
          command: ['sh', '-c', 'echo -e "Checking for the availability of MySQL Server deployment"; while ! nc -z mysql 3306; do sleep 1; printf "-"; done; echo -e "  >> MySQL DB Server has started";']
          
      containers:
        - name: usermgmt-webapp-container
          image: stacksimplify/kube-usermgmt-webapp:1.0.0-MySQLDB
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOSTNAME
              value: "mysql"      # Hostname should be same as the name specified in MySQL cluster IP service metadata.name
            
            - name: DB_PORT
              value: "3306"

            - name: DB_NAME
              value: "webappdb"

            - name: DB_USERNAME
              value: "root"

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-db-password
                  key: db-password