---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: usermgmt-webpp-deployment
  labels:
    app: usermgmt-webapp

spec:
  replicas: 1
  selector:
    matchLabels:
      app: usermgmt-webapp
  template:
    metadata:
      labels:
        app: usermgmt-webapp
    spec:
 ### InitContainers are not supported in Virtual Nodes(i.e. ACI-Azure Container Instance)- hence commenting it ###   
      # initContainers:       
      #   - name: init-db
      #     image: busybox:1.31
      #     command: ['sh', '-c', 'echo -e "Checking for the availability of MySQL Server deployment"; while ! nc -z mysql 3306; do sleep 1; printf "-"; done; echo -e "  >> MySQL DB Server has started";']
          
      containers:
        - name: usermgmt-webapp-container
          image: stacksimplify/kube-usermgmt-webapp:1.0.0-MySQLDB
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOSTNAME
            # Virtual nodes expect a full DNS name of a service
              value: "mysql.default.svc.cluster.local"  # Hostname should be same as the name specified in MySQL cluster IP service metadata.name
            
            - name: DB_PORT
              value: "3306"

            - name: DB_NAME
              value: "webappdb"

            - name: DB_USERNAME
              value: "root"

            - name: DB_PASSWORD
              value: dbpass123! 
# To schedule pods on Azure Virtual Nodes            
      nodeSelector:
        kubernetes.io/role: agent
        beta.kubernetes.io/os: linux
        type: virtual-kubelet
      tolerations:
      - key: virtual-kubelet.io/provider
        operator: Exists
      - key: azure.com/aci
        effect: NoSchedule 